<div class="flow">
    <div class="text">
<h1>ABOUT US</h1>
<p class="bold">We believe that woodworking should be accessible to ALL.</p>
<p>Woodworking is more than a hobby, it's an obsession, a passion... a lifestyle. Woodworkers have an instinctual drive to create new things with our hands and experience the pride that comes with a job well done. Our mission is to empower YOU, whether you’re a hobbyist or a professional woodworker, with the tools, educational resources and design plans you need to create pieces that last a lifetime. </p>
<h3>You pour your heart and soul into every project.</h3>
<p>Whether you’re bringing an old piece of Grandpa's furniture back to life; building a crib for a new baby on the way; putting together a cabinet to store all of your trinkets or designing a dining room table for your family to enjoy for years to come…

    These are labors of love that DESERVE best-in-class support and tools that work. That’s exactly why we’re here.
    
    It shouldn’t cost an arm and a leg to get functional woodworking tools. You shouldn’t need a college degree to design and build amazing wooden masterpieces that will last for generations.
    
    Joseph Streubel Tools (JS Tools) is your one stop shop for all things woodworking, including tutorials, tools, product reviews, design plans and community support from fellow craftsmen and women.</p>
</div>
    <div>
        <img alt="about" src="assets/images/About_photo.jpg">
    </div>
</div>

<app-navigation-page></app-navigation-page>