.whole {
    padding-left: 200px;
    background-color: rgb(170, 244, 170);
}

.input {
    padding: 5px;
}
button {
    margin: 10px;
}

.user {
    border-radius: 5px;
    margin-left: 10px;
    min-height: 30px;
}